body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#box{
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}
li {
    font-size: 20px;
    justify-content: space-between;
}